<!-- ++++++++++++++++++++++++++++++++++++++++
               CHANGE PASSWORD FIELD
     ++++++++++++++++++++++++++++++++++++++++ -->

{% extends "layout.html" %} <!-- this is like an #include statement which brings copies the code from the specified file  -->
{% block content %}
    <div class ="content-section">
        <form method="POST" action=""> <!-- Make a request to the same page  -->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border bottom mb-4">Log In</legend>
                <div class="form-group">
                    {{ form.currentPass.label(class="form-control-label")}}
                    {% if form.currentPass.errors %}
                        {{ form.currentPass(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.currentPass.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.currentPass(class="form-control form-control-lg")}} <!-- input field is valid -->
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.newPassword.label(class="form-control-label")}}
                    {% if form.newPassword.errors %}
                        {{ form.newPassword(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.newPassword.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.newPassword(class="form-control form-control-lg")}} <!-- input field is valid -->
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input")}}
                    {{ form.remember.label(class="form-check-label")}}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock content %}


<!-- This is the About page, and will contain information about the website and the creator(s).  -->
