<!-- ++++++++++++++++++++++++++++++++++++++++
                  GROUPS PAGE
     ++++++++++++++++++++++++++++++++++++++++ -->

{% extends "layout.html" %} <!-- this is like an #include statement which brings copies the code from the specified file  -->
{% block content %}
<div class ="content-section" id="groups-pg">
<div style="text-align: center; display: inline-block;" >
  <h1 style="margin-left: auto; margin-right: auto">Group Options</h1>
  <div style="margin-top: 20px">
    <a class="btn btn-primary" href="/groups/create" style="width: 80%" role="button">Create Group</a> <br> <br>
    <a class="btn btn-primary" href="/groups/manage" style="width: 80%;"role="button">Manage Groups</a>
  </div>
</div>
</div>
{% endblock content %}
