<!-- ++++++++++++++++++++++++++++++++++++++++
                FINSTAGRAM HOME PAGE
     ++++++++++++++++++++++++++++++++++++++++ -->

{% extends "layout.html" %} <!-- this is like an #include statement which brings copies the code from the specified file  -->

{% block content %}
<div class="content-section">
  <div>
      <h1 style="text-align: center;"> Welcome to Finstagram! </h1>
      <br>
      <br>

        <p>
          <b>Your Pictures! You Decide!</b> <br>
          With Finstagram, you get to choose which friends get to view which pictures you post.
        </p>
        <div class="border-top pt-3">
            <b>Sign up Today!</b>
            <a class="ml-2" href="{{url_for('register')}}">Register Here</a>
        </div>
            <b>Already have an account?</b>
            <a class="ml-2" href="{{url_for('login')}}">Login Here</a>

  </div>
</div>


{% endblock content %}
